.funnel {
	width: 100%;
}

.funnel td.entry, 
.funnel td.exit {
	width: 48%;
}

.funnel td.entry h4 {
	text-align: right;
}
.funnel td.step {
	padding: 0px 0.5em;
	text-align:center;
	white-space: nowrap;
}
.funnel td.step div {
	border: solid #CCCCCC;
	border-width: 1px 0px;
	margin: 0px 1px;
	padding: 0px;
	position: relative;
}

.funnel td.step div div {
	border-width: 0px 1px;
	margin: 0px -1px;
}
.funnel td.step div div div{
	border-width: 0px;
	margin: 0px;
	padding: 0.5em;
}

.funnel td.step h3 {
	font-size: 100%;
	margin: 0px 0px 0.3em;
}

.funnel td.step h3 .label{
	display: block;
}

.funnel td.step h4 {
	height: 100px;
	margin: 0px;
	padding: 45px 0px 0px;
	background: url(images/arrow-down.gif) no-repeat center;
	
}

.funnel_bar_graph {
	background: #FF9999;
	display: block;
	height: 10px;
	margin: 0px auto;
	text-align: left;
	width: 185px;
}

.funnel_bar_graph b {
	background: #CCFF99;
	display: block;
	height: 10px;
}
